.App {
  display: grid;
  justify-content: center;
}

.withInfo {
  display: grid;
  justify-self: center;
  justify-content: center;
  align-content: center;
  margin-bottom: -5px;
  width: 35%;
  height: 60%;
}